.inputWraper {
  position: fixed;
  bottom: 16px;
  display: flex;
  gap: 8px;
  right: 10px;
  left: 110px;
}

.input {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 32px;
  border: 1px solid #bfbfbf;
  outline: none;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  transition: all 0.25s;
}

.sendBtn {
  display: flex;
  padding: 4px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 50%;
  border: none;
  background: linear-gradient(90deg, #ed3984, #7552c8),
    linear-gradient(90deg, #ed3984 0%, #ed3984 1.56%, #7452c8 100%);
}

.sendBtn:hover {
  background: #ed3984;
  color: #ffffff;
}
